.text-wrapper {
    width: 60%;
    padding: 50px 0px 60px 0px;
    margin: 0 auto;

    @include mobile {
        width: 82%;
    }

    .navigate {
        display: flex;
        justify-content: space-between;
    }

    .navigate p {
        font-weight: 800;
    }

    .return {
        display: flex;
        align-items: center;
        gap: 10px;

        @include mobile {
            // width: 100%;
        }
    }

    .black-arrow {
        width: 64%;
    }

    .text {
        max-width: 800px;
        font-size: $large-sizing;
    }

    .text p {
        @include mobile {
            width: 100%;
        }
    }

    .text h3{
        font-size: $larger-sizing;
        width: 66%;

        @include mobile {
            width: 100%;
        }
    }
}

.reach-out {
    background-color: $primary-color;
    width: 100%;

    .get-in-touch {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            justify-content: center;
        }
    }

    .get-in-touch h4 {
        color: $tertiary-color;
        font-size: $largest-sizing;
        margin-bottom: 0px;

        @include mobile {
            width: 60%;
        }
    }

    .get-in-touch p {
        color: $tertiary-color;
        font-size: $large-sizing;
        font-weight: 300;

        @include mobile {
            width: 60%;
        }
    }

    .get-in-touch a {
        display: flex;
        align-items: center;
        border: 2px solid #eb5757;
        padding: 10px 24px;
        gap: 6px;
        text-transform: uppercase;
        color:#eb5757;
        font-size: $small-sizing;

        // @include mobile {
        //     justify-content: center;
        // }
    }

    .orange-arrow {
        width: 5%;
    }

    .contact {
        display: flex;
        justify-content: center;
        padding: 50px 0px 50px 0px;

        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .email h5 {
        color: $tertiary-color;
        font-size: $large-sizing;
    }

    .email p {
        color: $tertiary-color;
        font-size: $medium-sizing;
        width: 62%;

        @include mobile {
            width: 100%;
        }
    }

    .email-box input {
        height: 27px;
        padding-left: 15px;
        border: 1px solid $tertiary-color;
        border-radius: 1px;
        background-color: $primary-color;
    }

    button {
        background: $secondary-color;
        padding: 7px 27px;
        border: 2px solid $secondary-color;
        color: $tertiary-color;
        font-size: 12px;
    }

    .address h5 {
        color: $tertiary-color;
        font-size: 18px;

        @include mobile {
            width: 100%;
        }
    }

    .email-address h6 {
        color: $tertiary-color;
        text-decoration: underline;
        margin-bottom: 0px;
    }

    .email-address a {
        color: $secondary-color;
    }

    .office-address h6 {
        color: $tertiary-color;
        text-decoration: underline;
        margin-bottom: 0px;
    }

    .office-address {
        width: 50%;
    }

    .office-address a {
        color: $tertiary-color;
    }

    .socials h5 {
        color: $tertiary-color;
        font-size: 18px;

        @include mobile {
            width: 100%;
        }
    }

    .ig-fb {
        display: flex;
        gap: 15px;
        width: 27%;
    }
}

footer {
    width: 100%;
    background-color: $primary-color;
    border-top: 2px solid $tertiary-color;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    .footer-content h6 {
        color: $grey-color;
        font-size: $smallest-sizing;
    }

    .privacy {
        display: flex;
        gap: 10px;

        @include mobile {
            display: flex;
            justify-content: center;
        }
    }

    .privacy p {
        font-size: $smallest-sizing;
        text-decoration: underline;
    }

    .privacy a {
        color: $grey-color;
    }
}