.background-image {
    background-image: url('../assets/images/background-image.png');
    padding-bottom: 280px;

    .blog-nav {
        display: flex;
        padding-top: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: flex;
        gap: 18px;

        @include mobile {
            flex-direction: column;
            position: fixed;
            top: 70px;
            left: -100%;
            gap: 10px;
            width: 100%;
            align-items: center;
            transition: 0.3s;
        }

        a {
            font-size: $medium-sizing;
            color: $tertiary-color;
        }

        .nav-link {
            transition: 0.7s ease;
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;

        @include mobile {
            display: block;
        }

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background-color: $tertiary-color;
        }
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links.active {
        left: 0;
    }
}