.contact-hero {
    padding-top: 30px;
    display: flex;

     h2 {
        margin-bottom: 0px;
    }

    p {
        width: 42%;
        font-size: $medium-sizing;

        @include mobile {
            width: 100%;
            font-size: $large-sizing;
        }
    }

    .right-content {
        position: relative;

        span {
            position: absolute;
            top: 100px;
        }

        .vector-four {
            width: 25px;
        }
    }
}

.fill-form {
    width: 100%;
    padding-top: 40px;

    .form-container {
        display: flex;
        align-items: center;
        position: relative;

        @include mobile {
            flex-direction: column;
        }

        .form-cta {
            background-color: #ffcf25;
            padding: 40px 44px;
            width: 40%;

            @include mobile {
                width: 100%;
                padding: 0px;
            }

            h1 {
                font-size: 64px;
                padding-left: 20px;
                width: 40%;
            }
        }

        .contact-form {
            width: 64%; 
            position: absolute;
            right: 40px;

            @include mobile {
                width: 74%;
                position: relative;
                display: flex;
            }


            .input-box {
                width: 100%;
                margin-top: 10px;

                input {
                    width: 100%;
                    padding: 5px 0;
                    font-size: 16px;
                    margin: 10px 0;
                    border: none;
                    border-bottom: 2px solid #333333;
                    outline: none;  
                    width: 82%;
                    background-color: transparent;
                }

                ::placeholder {
                    color: $primary-color;
                    padding-left: 10px;
                }

                button {
                    padding: 7px 32px;
                    border: 2px solid;
                    background-color: $primary-color;

                    a {
                        color: $tertiary-color;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.address-location-container {
    width: 100%;
    display: flex;
    padding-bottom: 64px;

    @include mobile {
        flex-direction: column;
    }

    .address {
        background-color: $secondary-color;
        width: 32%; 
        padding: 64px 0px;
        
        @include mobile {
            width: 100%;
        }

        h4 {
            margin: auto;
            width: 50%;
            color: $tertiary-color;
            font-size: $semi-large-sizing
        }

        .address-details {
            width: 50%;
            margin: auto;
            
            p {
                color: $tertiary-color;
            }

            span {
                color: $tertiary-color;
            }
        }
    }

    .map-location {
        width: 100%;
        height: 400px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.contact-cta-container {
    width: 100%;
    background-color: $primary-color;

    @include mobile {
        width: 100%;
    }

    .cta-container {
        padding: 40px 0px 40px 0px;
        width: 100%;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    .contact {
        display: flex;
        justify-content: center;

        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        
        .email {
            position: relative;

            span {
                position: absolute;
                top: -100px;
            }

            h5 {
                color: $tertiary-color;
                font-size: $large-sizing;
            }

            p {
                color: $tertiary-color;
                font-size: $medium-sizing;
                width: 62%;

                @include mobile {
                    width: 100%;
                }
            }

            .email-box {

                input {
                    height: 27px;
                    padding-left: 15px;
                    border: 1px solid $tertiary-color;
                    background-color: $primary-color;
                }

                button {
                    background-color: $secondary-color;
                    padding: 7px 27px;
                    border: 2px solid $secondary-color;
                    font-size: 12px;
                    color: $tertiary-color;
                }
            }
        }

        .address {

            h5 {
                color: $tertiary-color;
                font-size: 18px;

                @include mobile {
                    width: 100%;
                }
            }
            
            h6 {
                counter-reset: $tertiary-color;
                text-decoration: underline;
                margin-bottom: 0px;
            }

            a {
                color: $secondary-color;
            }

            .office-address {
                width: 50%;

                h6 {
                    color: $tertiary-color;
                    text-decoration: underline;
                    margin-bottom: 0px;
                }

                a {
                    color: $tertiary-color;
                }
            }
        }

        .socials {

            h5 {
                color: $tertiary-color;
                font-size: 18px;

                @include mobile {
                    width: 100%;
                }
            }

            .ig-fb {
                display: flex;
                gap: 15px;
                width: 27%;
            }
        }
    }

}