.navbar {
    display: flex;
    padding-top: 20px;

    .nav-menu{
        display: flex;
        margin-left: auto;
        gap: 14px;
        align-items: center;

        @include mobile {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color: $secondary-color;
            transition: 0.3s;
        }

        li {
            text-decoration: none;

            a {
                color: $primary-color;
            }

            .nav-link {
                transition: 0.7s ease;
            }

            .nav-link:hover {
                color: $secondary-color;
            }
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;

        @include mobile {
            display: block;
        }

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            color: $primary-color;
        }
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu.active {
        left: 0;
    }
}