.top-content {
    display: flex;
    width: 100%;
    gap: 13px;
    padding-bottom: 20px;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    .left-top-content {
        width: 67%;
    }

    .feature-image {
        @include mobile {
            width: 100%;
            display: flex;
        }
    }

    .image-5 {
        width: 100%;
    }

    .left-top-content {
        width: 92%;
    }   

    .features {
        display: flex;
        flex-direction: column;
    }

    .more {
        display: flex;
        justify-content: space-between;
    }

    #business {
        color: $ashy-color;
    }

    .more {
        display: flex;
    }

    .explore {
        display: flex;
        align-items: center;
    }

    .explore p{
        color: $secondary-color;
    }

    .right-top-content{
        width: 44%;

        @include mobile {
            width: 100%;
        }
    }

    .image-1 {
        width: 100%;
    }
}

.lower-content {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-bottom: 50px;

    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 34%;

        @include mobile {
            width: 100%;
            display: flex;
            align-items: center;
        }

    }

    .feature-image {
        @include mobile {
            width: 100%;
        }
    }

    #business {
        color: $ashy-color;
    }
}

.cta-site-wrapper {
    width: 100%;
    background-color: $primary-color;

    @include mobile {
        width: 100%;
    }

    .cta-container {
        padding: 40px 0px 40px 0px;
        width: 100%;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    .contact {
        display: flex;
        justify-content: center;

        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 10px;

        }

        .email {
            h5{
                color: $tertiary-color;
                font-size: $large-sizing;
            }
    
            p {
                color: $tertiary-color;
                font-size: $medium-sizing;
                width: 62%;
    
                @include mobile {
                    width: 100%;
                }
            }
    
            .email-box {
                position: relative;
    
                span {
                    position: absolute;
                    left: 32px;
                    top: -32px;
                }

                .vector {
                    width: 11px;
                }
    
                input {
                    height: 27px;
                    padding-left: 15px;
                    border: 1px solid $tertiary-color;
                    background-color: $primary-color;
                }
    
                button {
                    background-color: $secondary-color;
                    padding: 7px 27px;
                    border: 2px solid $secondary-color;
                    color: $tertiary-color;
                    font-size: 12px;
                }
            }
           
        }


        .address {
            h5 {
                color: $tertiary-color;
                font-size: 18px;

                @include mobile {
                    width: 100%;
                }
            }
    
            h6 {
                color: $tertiary-color;
                text-decoration: underline;
                margin-bottom: 0px;
            }
    
            a {
                color: $secondary-color;
            }
    
            .office-address {
                width: 50%;
    
                h6{
                    color: $tertiary-color;
                    text-decoration: underline;
                    margin-bottom: 0px;
                }
    
                a {
                    color: $tertiary-color;
                }
            }
        }
    
        .socials {

           h5 {
                color: $tertiary-color;
                font-size: 18px;

                @include mobile {
                    width: 100%;
                }
            }
            
            .ig-fb {
                display: flex;
                gap: 15px;
                width: 27%;
            }
        }


    }
}

.footer {
    width: 100%;
    background-color: $primary-color;
    border-top: 2px solid $tertiary-color;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        h6 {
            color: $grey-color;
            font-size: $smallest-sizing;
        }

        .privacy {
            display: flex;
            gap: 10px;

            @include mobile {
                display: flex;
                justify-content: center;
            }

            p {
                font-size: $smallest-sizing;
                text-decoration: underline;
            }

            a {
                color: $grey-color;
            }
        }
    }
}